{% extends 'ww/base.html' %}
{% load static %}
{% block title %}Student create{% endblock %}

{% block content %}
    <div class="container_create">
        <h1>Add new student</h1>
        <form action="{% url 'student_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First name:</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last name:</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required>
            </div>
            <div class="form-group">
                <label for="characteristics">Description:</label>
                <textarea id="characteristics" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="photo">Photo:</label>
                <input type="file" id="photo" name="photo">
            </div>
            <div class="form-group">
                <label for="group">Class:</label>
                <select id="group" name="klass">
                    {% for klass in klasses %}
                        <option value="{{ klass.id }}">{{ klass }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Добавить студента</button>
        </form>
    </div>
{% endblock %}